.navbar-custom {
  background-color: #ffffff;
}

#brand-name {
  /* Positioning */
  margin-left: 70px;
  min-height: 60px;
  display: flex;
  align-items: center;

  /* Typography */
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Georgia', Times, "Times New Roman", serif;

  /* Display */
  background-color: #4aaaa5;
}

#navbar-links {
  padding-top: 5px;
}
